<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.csapi.csapicore"
   name="CS API Core"
   version="0.1.0"
   provider-name="Boris Baldassari"
   class="org.csapi.csapicore.CsapiCorePlugin">
   <requires>
      <import plugin="org.eclipse.osgi"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
