<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.csapi.csplugin"
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Access to "
            id="org.csapi.csplugin.actionSet"
            label="S/Change ActionSet"
            visible="true">
         <menu
               id="org.csapi.csplugin.actions"
               label="S/Change"/>
         <action
               class="org.csapi.csplugin.actions.LoginAction"
               id="org.csapi.csplugin.actions.LoginAction"
               label="&amp;Login"
               menubarPath="org.csapi.csplugin.actions/Login"
               style="push"/>
         <action
               class="org.csapi.csplugin.actions.GetReportAction"
               id="org.csapi.csplugin.actions.GetReportAction"
               label="&amp;Get Report..."
               menubarPath="org.csapi.csplugin.actions/getreport"
               style="push"/>
         <action
               class="org.csapi.csplugin.actions.ManageReportHistoryAction"
               id="core.csapi.csplugin.actions.ManageMyReportsAction"
               label="&amp;Report History"
               menubarPath="org.csapi.csplugin.actions/getreport"
               style="push"/>
      </actionSet>
   </extension>
   <extension
         id="org.csapi.csplugin.preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="Team"
            class="org.csapi.csplugin.preferences.UserDataPreferences"
            id="org.csapi.csplugin.preferences.UserDataPreferences"
            name="Synergy/Change"/>
   </extension>
   <extension
         id="org.csapi.csplugin.views"
         name="Synergy/Change views"
         point="org.eclipse.ui.views">
      <view
            category="csplugin.category"
            class="org.csapi.csplugin.views.ShowReportView"
            id="org.csapi.csplugin.views.ShowReportView"
            name="CS Report"/>
      <view
            category="csplugin.category"
            class="org.csapi.csplugin.views.ReportHistoryView"
            id="org.csapi.csplugin.views.ReportHistoryView"
            name="Report History"/>
      <category
            id="csplugin.category"
            name="Synergy/Change"
            parentCategory="Team"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc file="tocgettingstarted.xml" />
      <toc file="tocreference.xml" />
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>

</plugin>
